


.p-button.p-button-text:enabled.sidebar-item:hover{
  background-color: var(--primary-100);
}

.sidebar-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-header .p-avatar.p-avatar-xl{
  width: 6rem;
  height: 6rem;
}